@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

body, html {
    height: 100%;
    margin: 0 auto;
    text-align: center;
    scroll-behavior: smooth;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    font-style: bold;
}

img { 
    width: 420px;
    height: 420px;
}

content { 
    width: 500px; padding: 5px; 
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}
