@import url('https://fonts.googleapis.com/css2?family=Mansalva&family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

body, html {
    height: 100%;
    margin: 0 auto;
    text-align: center;
    scroll-behavior: smooth;
    background-color:rgb(253, 249, 249);
}

body {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 25px;
}

.navbar-brand {
    font-family: 'Mansalva', cursive;
    font-size: 50px;
    font-style: bold;
}

.nav-item {
    color :rgb(35, 59, 35)
}

a {
    text-decoration: none;
}

img { 
    width: 420px;
    height: 420px;
}

content { 
    width: 500px; padding: 5px; 
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}

.h3 {
margin: left;
}

.h7 {
    font-size : 10px;
}